body {
    color: #5A5A5A;
    padding-bottom: 40px;
    background-color:#EEEEEE !important;
}
.navbar-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}
.navbar-wrapper > .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}
body .navbar-inverse {
    background-color: #159117;
    border-color: #047604;
}
body a {
    color:#159117;
}
body a:hover, body a:focus{color:#2EAB2E;}
body .navbar-inverse .navbar-nav > .open > a,
body .navbar-inverse .navbar-nav > .open > a:hover,
body .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #2EAB2E;
    color: #FFFFFF;
}

body .navbar-inverse .navbar-toggle:hover,
body .navbar-inverse .navbar-toggle:focus {
    background-color: #2EAB2E;
}

body .navbar-inverse .navbar-nav > li > a {
    color:#FFFFFF;
}
body .navbar-inverse .navbar-brand {
    color:#FFFFFF;
}
body .navbar-brand img {
    margin-top:-15px;
}
.carousel {
    height: 300px;
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    background-color: #777777;
    height: 300px;
}
.carousel-inner > .item > img {
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
}
body .carousel-control .glyphicon-chevron-left {
    margin-left:-17px;
}
body .carousel-control.right {
    right:15px;
}
body .carousel-control .glyphicon-chevron-left,
body .carousel-control .glyphicon-chevron-right {
    font-size:20px;
    margin-top:-10px;
}
body .carousel-control {
    background: none repeat scroll 0 0 #222222;
    border: 3px solid #ffffff;
    border-radius: 23px;
    font-weight: 100;
    height: 40px;
    line-height: 30px;
    margin-top: 15px;
    top: 40%;
    width: 40px;
    left:15px;
    display:none;
}
body .carousel:hover .carousel-control {
    display:block;
    opacity:0.5;
}
body .marketing .row {
    margin-bottom:35px;
}
body .marketing .row > div {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #ddd transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 2px;
}
body .marketing .row > div:last-child {
    border-right: 2px solid transparent;
}
body .marketing .row > div > p {
    text-align:justify;
}
body .carousel .carousel-control:hover {
    opacity:1.0;
}
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing .icon {
    width:160px;
    height:160px;
    border-radius:50%;
    margin:0 auto;
    border:4px solid #aaaaaa;
    background:url("../images/softwareeng.png") no-repeat scroll -4px -4px #EEEEEE;
}
.marketing .icon.software-eng {
    background-image:url("../images/softwareeng.png");
}
.marketing .icon.system-arch {
    background-image:url("../images/sysarch.png");
}
.marketing .icon.cyber-sec {
    background-image:url("../images/cyber.png");
}
.marketing .icon.careers {
    background-image:url("../images/careers.png");
}
.marketing h3 {
    font-weight: bold;
    text-align:center;
    text-transform:uppercase;
    font-size:17px;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-wrapper .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    .carousel-caption p {
        font-size: 21px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}